In [1]:
# If you run this notebook on Google Colaboratory, uncomment the below to install automl_alex.
#!pip install -q -U automl_alex

In [1]:
import sklearn
import pandas as pd
import time
import automl_alex
from automl_alex import DataPrepare
from automl_alex import BestSingleModel, BestSingleModelClassifier, BestSingleModelRegressor
print('AutoML-Alex version:', automl_alex.__version__)

AutoML-Alex version: 1.2.28

In [2]:
RANDOM_SEED = 42

# Classifier

## Data

In [3]:
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
# https://www.openml.org/d/179
dataset = fetch_openml(data_id=179, as_frame=True)
dataset.target = dataset.target.astype('category').cat.codes
dataset.data.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country
0,2,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States
1,3,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States
2,2,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States
3,3,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States
4,1,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba

In [4]:
X_train, X_test, y_train, y_test = train_test_split(dataset.data, 
                                                    dataset.target,
                                                    test_size=0.2, 
                                                    random_state=RANDOM_SEED,)
X_train.shape, X_test.shape

((39073, 14), (9769, 14))

### DataPrepare

In [5]:
de = DataPrepare(
    normalization=False, # if you use Linar based models -> True (for Tree based models normalization is not needed)
    random_state=RANDOM_SEED,
    )
X_train = de.fit_transform(X_train)
X_test = de.transform(X_test)
X_train.shape, X_test.shape

00:49:41 | Source data shape: (39073, 14)
00:49:41 | ##################################################
00:49:41 | ! START preprocessing Data
00:49:42 | - Auto detect cat features: 12
00:49:42 | > Binary Features
00:49:42 | > Clean Categorical Features
00:49:42 | > Transform Categorical Features.
00:49:43 |  - Encoder: HelmertEncoder ADD features: 123
00:49:43 |  - Encoder: CountEncoder ADD features: 12
00:49:43 | > CleanOutliers
00:49:43 | Num of outlier detected: 253 in Feature education-num
00:49:43 | Proportion of outlier detected: 0.6 %
00:49:43 | Num of outlier detected: 560 in Feature fnlwgt
00:49:43 | Proportion of outlier detected: 1.4 %
00:49:43 |   No nans features
00:49:43 | > Generate interaction Num Features
00:49:43 |  ADD features: 5
00:49:43 | ##################################################
00:49:43 | Final data shape: (39073, 156)
00:49:43 | Total ADD columns: 142
00:49:43 | ##################################################
00:49:43 | ##################################################
00:49:43 | ! Start Transform Data
00:49:43 | > Clean Binary Features
00:49:43 | > Clean Categorical Features
00:49:43 | > Transform Categorical Features.
00:49:43 |  - Encoder: HelmertEncoder ADD features: 123
00:49:43 |  - Encoder: CountEncoder ADD features: 12
00:49:43 | > Generate interaction Num Features
00:49:43 |  ADD features: 5
00:49:43 | ##################################################
00:49:43 | Final data shape: (9769, 156)
00:49:43 | Total ADD columns: 142
00:49:43 | ##################################################

((39073, 156), (9769, 156))

## BestSingleModel

In [6]:
model = BestSingleModelClassifier(
    models_names = ['LightGBM', 'ExtraTrees', 'RandomForest', 'XGBoost'],
    auto_parameters=True,
    feature_selection=True,
    random_state=RANDOM_SEED,)

00:49:43 | metric is None! Default metric will be used. classifier: AUC, regression: MSE

In [7]:
model.opt(X_train, y_train, timeout=600, verbose=3)

00:49:49 | ##################################################
00:49:49 | > Step 1: calc parameters and pruned score: get test 10 trials
00:51:40 |  One iteration ~ 11.1 sec
00:51:40 |  Possible iters ~ 54.0
00:51:40 | ! Not enough time to find the optimal parameters.
                     Possible iters < 100.
                     Please, Increase the 'timeout' parameter for normal optimization.
00:51:40 | --------------------------------------------------
00:51:40 |   Pruned Threshold Score: 0.9061
00:51:40 | ##################################################
00:51:40 | > Step 2: Full opt with Threshold Score Pruner
00:51:40 | ##################################################
00:51:40 | > Start optimization with the parameters:
00:51:40 | CV_Folds = 10
00:51:40 | Score_CV_Folds = 2
00:51:40 | Feature_Selection = True
00:51:40 | Opt_lvl = 1
00:51:40 | Cold_start = 10
00:51:40 | Early_stoping = 25
00:51:40 | Metric = roc_auc_score
00:51:40 | Direction = maximize
00:51:40 | ##################################################
Optimize: : 39it [10:26, 16.06s/it, | Model: LightGBM | OptScore: 0.9176 | Best roc_auc_score: 0.9182 ]
01:02:07 | > Finish Opt!
Finished loading model, total used 300 iterations
Finished loading model, total used 300 iterations
Finished loading model, total used 300 iterations
Finished loading model, total used 300 iterations
Finished loading model, total used 300 iterations
Finished loading model, total used 300 iterations
Finished loading model, total used 300 iterations
Finished loading model, total used 300 iterations
Finished loading model, total used 300 iterations
Finished loading model, total used 300 iterations
01:02:37 | Best Score: 0.9182 roc_auc_score

,number,value,datetime_start,datetime_complete,duration,params_CountEncoder_age,params_CountEncoder_capitalgain,params_CountEncoder_capitalloss,params_CountEncoder_education,params_CountEncoder_education-num,...,params_occupation,params_race,params_relationship,params_rf_max_depth,params_rf_min_samples_split,params_sex,params_workclass,params_xgb_max_depth,params_xgb_min_child_weight,state
0,0,0.9048,2021-03-02 00:49:49.765976,2021-03-02 00:49:56.262464,0 days 00:00:06.496488,False,True,True,True,True,...,True,False,True,80.0,53.0,True,True,NaN,NaN,COMPLETE
1,1,0.7690,2021-03-02 00:49:56.322477,2021-03-02 00:50:38.423642,0 days 00:00:42.101165,True,False,True,False,True,...,True,False,True,NaN,NaN,False,False,5.0,3.0,COMPLETE
2,2,0.9151,2021-03-02 00:50:38.534579,2021-03-02 00:50:46.779759,0 days 00:00:08.245180,True,False,True,True,False,...,False,False,True,NaN,NaN,False,True,NaN,NaN,COMPLETE
3,3,0.9140,2021-03-02 00:50:46.896133,2021-03-02 00:50:52.614083,0 days 00:00:05.717950,True,True,True,True,False,...,False,True,True,NaN,NaN,True,True,NaN,NaN,COMPLETE
4,4,0.9144,2021-03-02 00:50:52.735636,2021-03-02 00:51:04.081883,0 days 00:00:11.346247,True,False,True,False,False,...,False,True,True,NaN,NaN,True,True,NaN,NaN,COMPLETE
5,5,0.9012,2021-03-02 00:51:04.167992,2021-03-02 00:51:11.884367,0 days 00:00:07.716375,True,False,True,False,False,...,False,True,True,90.0,85.0,True,True,NaN,NaN,COMPLETE
6,6,0.8770,2021-03-02 00:51:11.941630,2021-03-02 00:51:20.307728,0 days 00:00:08.366098,False,False,True,True,False,...,True,False,False,50.0,2.0,False,False,NaN,NaN,COMPLETE
7,7,0.9083,2021-03-02 00:51:20.361832,2021-03-02 00:51:27.396670,0 days 00:00:07.034838,True,True,True,False,True,...,True,True,True,20.0,39.0,False,False,NaN,NaN,COMPLETE
8,8,0.9052,2021-03-02 00:51:27.463799,2021-03-02 00:51:34.037658,0 days 00:00:06.573859,False,False,False,True,True,...,True,False,False,100.0,87.0,True,False,NaN,NaN,COMPLETE
9,9,0.9070,2021-03-02 00:51:34.098910,2021-03-02 00:51:40.548988,0 days 00:00:06.450078,False,True,False,False,True,...,False,True,True,10.0,36.0,True,False,NaN,NaN,COMPLETE
10,10,0.9154,2021-03-02 00:51:40.723439,2021-03-02 00:51:53.067177,0 days 00:00:12.343738,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
11,11,0.9154,2021-03-02 00:51:53.229239,2021-03-02 00:52:05.498112,0 days 00:00:12.268873,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
12,12,0.9140,2021-03-02 00:52:05.693633,2021-03-02 00:52:18.135094,0 days 00:00:12.441461,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
13,13,0.9154,2021-03-02 00:52:18.297174,2021-03-02 00:52:29.489730,0 days 00:00:11.192556,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
14,14,0.9169,2021-03-02 00:52:29.618498,2021-03-02 00:52:40.211054,0 days 00:00:10.592556,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
15,15,0.8808,2021-03-02 00:52:40.351251,2021-03-02 00:52:45.919586,0 days 00:00:05.568335,True,False,False,True,False,...,False,False,False,50.0,4.0,False,True,NaN,NaN,PRUNED
16,16,0.7752,2021-03-02 00:52:45.976775,2021-03-02 00:53:35.543553,0 days 00:00:49.566778,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,8.0,7.0,PRUNED
17,17,0.9148,2021-03-02 00:53:35.734994,2021-03-02 00:53:47.686993,0 days 00:00:11.951999,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
18,18,0.9098,2021-03-02 00:53:47.830804,2021-03-02 00:53:53.675341,0 days 00:00:05.844537,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
19,19,0.9107,2021-03-02 00:53:53.829680,2021-03-02 00:54:00.438526,0 days 00:00:06.608846,True,False,False,True,False,...,False,False,False,30.0,65.0,False,True,NaN,NaN,COMPLETE
20,20,0.7775,2021-03-02 00:54:00.514781,2021-03-02 00:54:11.980627,0 days 00:00:11.465846,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,2.0,7.0,PRUNED
21,21,0.9160,2021-03-02 00:54:12.049660,2021-03-02 00:54:30.327077,0 days 00:00:18.277417,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
22,22,0.9156,2021-03-02 00:54:30.432591,2021-03-02 00:54:44.385808,0 days 00:00:13.953217,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
23,23,0.9180,2021-03-02 00:54:44.559380,2021-03-02 00:54:57.071575,0 days 00:00:12.512195,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
24,24,0.9176,2021-03-02 00:54:57.235817,2021-03-02 00:55:06.599069,0 days 00:00:09.363252,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
25,25,0.9174,2021-03-02 00:55:06.716499,2021-03-02 00:55:24.480321,0 days 00:00:17.763822,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
26,26,0.9172,2021-03-02 00:55:24.674405,2021-03-02 00:55:44.293204,0 days 00:00:19.618799,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
27,27,0.9170,2021-03-02 00:55:44.516787,2021-03-02 00:55:54.007514,0 days 00:00:09.490727,False,True,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
28,28,0.9182,2021-03-02 00:55:54.149945,2021-03-02 00:56:03.982310,0 days 00:00:09.832365,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
29,29,0.9156,2021-03-02 00:56:04.130143,2021-03-02 00:56:10.400947,0 days 00:00:06.270804,False,True,False,True,True,...,True,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
30,30,0.7723,2021-03-02 00:56:10.600490,2021-03-02 00:56:39.071542,0 days 00:00:28.471052,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,8.0,2.0,PRUNED
31,31,0.9173,2021-03-02 00:56:39.135557,2021-03-02 00:56:48.266537,0 days 00:00:09.130980,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
32,32,0.9168,2021-03-02 00:56:48.420643,2021-03-02 00:56:56.028103,0 days 00:00:07.607460,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
33,33,0.9178,2021-03-02 00:56:56.194495,2021-03-02 00:57:09.934202,0 days 00:00:13.739707,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
34,34,0.9166,2021-03-02 00:57:10.191321,2021-03-02 00:57:36.041355,0 days 00:00:25.850034,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
35,35,0.9151,2021-03-02 00:57:36.245777,2021-03-02 00:57:53.404266,0 days 00:00:17.158489,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
36,36,0.9088,2021-03-02 00:57:53.568187,2021-03-02 00:58:01.094956,0 days 00:00:07.526769,True,False,False,False,False,...,False,True,False,70.0,20.0,True,True,NaN,NaN,COMPLETE
37,37,0.9178,2021-03-02 00:58:01.188597,2021-03-02 00:58:09.935730,0 days 00:00:08.747133,True,False,True,True,False,...,True,False,False,NaN,NaN,False,False,NaN,NaN,COMPLETE
38,38,0.9165,2021-03-02 00:58:10.114082,2021-03-02 00:58:17.625762,0 days 00:00:07.511680,True,False,True,False,True,...,True,False,True,NaN,NaN,False,False,NaN,NaN,COMPLETE
39,39,0.7833,2021-03-02 00:58:17.755315,2021-03-02 00:58:29.377670,0 days 00:00:11.622355,True,True,True,True,False,...,True,True,False,NaN,NaN,True,False,2.0,5.0,PRUNED
40,40,0.9102,2021-03-02 00:58:29.439201,2021-03-02 00:58:36.982811,0 days 00:00:07.543610,False,False,True,True,False,...,True,False,True,30.0,97.0,False,False,NaN,NaN,COMPLETE
41,41,0.9173,2021-03-02 00:58:37.068762,2021-03-02 00:58:46.642310,0 days 00:00:09.573548,True,False,True,True,False,...,True,False,False,NaN,NaN,False,False,NaN,NaN,COMPLETE
42,42,0.9180,2021-03-02 00:58:46.810581,2021-03-02 00:58:59.185577,0 days 00:00:12.374996,True,False,True,True,False,...,True,False,False,NaN,NaN,False,False,NaN,NaN,COMPLETE
43,43,0.9164,2021-03-02 00:58:59.326824,2021-03-02 00:59:11.612736,0 days 00:00:12.285912,True,False,True,True,False,...,True,False,False,NaN,NaN,False,False,NaN,NaN,COMPLETE
44,44,0.9154,2021-03-02 00:59:11.835961,2021-03-02 00:59:29.635058,0 days 00:00:17.799097,True,False,True,True,False,...,True,False,False,NaN,NaN,False,False,NaN,NaN,COMPLETE
45,45,0.9144,2021-03-02 00:59:29.836208,2021-03-02 00:59:43.111559,0 days 00:00:13.275351,True,False,True,False,True,...,True,False,False,NaN,NaN,False,False,NaN,NaN,COMPLETE
46,46,0.9039,2021-03-02 00:59:43.344227,2021-03-02 00:59:57.255259,0 days 00:00:13.911032,True,False,True,True,False,...,True,True,False,NaN,NaN,False,False,NaN,NaN,PRUNED
47,47,0.9149,2021-03-02 00:59:57.388071,2021-03-02 01:00:06.152809,0 days 00:00:08.764738,True,False,True,True,False,...,True,False,True,70.0,70.0,True,False,NaN,NaN,COMPLETE
48,48,0.9174,2021-03-02 01:00:06.261455,2021-03-02 01:00:16.282543,0 days 00:00:10.021088,True,False,True,True,False,...,True,False,False,NaN,NaN,False,False,NaN,NaN,COMPLETE
49,49,0.9048,2021-03-02 01:00:16.449427,2021-03-02 01:00:22.215940,0 days 00:00:05.766513,True,True,True,True,False,...,True,False,False,40.0,18.0,False,False,NaN,NaN,PRUNED
50,50,0.9136,2021-03-02 01:00:22.263956,2021-03-02 01:00:34.283790,0 days 00:00:12.019834,False,False,True,True,False,...,True,False,False,NaN,NaN,False,False,NaN,NaN,COMPLETE
51,51,0.9174,2021-03-02 01:00:34.453842,2021-03-02 01:00:46.823144,0 days 00:00:12.369302,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
52,52,0.9162,2021-03-02 01:00:46.927536,2021-03-02 01:01:03.942517,0 days 00:00:17.014981,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
53,53,0.9173,2021-03-02 01:01:04.116957,2021-03-02 01:01:17.972448,0 days 00:00:13.855491,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE
54,54,0.9174,2021-03-02 01:01:18.093058,2021-03-02 01:01:35.969215,0 days 00:00:17.876157,True,False,True,True,False,...,False,False,False,NaN,NaN,False,False,NaN,NaN,COMPLETE
55,55,0.9176,2021-03-02 01:01:36.165249,2021-03-02 01:02:07.055607,0 days 00:00:30.890358,True,False,False,True,False,...,False,False,False,NaN,NaN,False,True,NaN,NaN,COMPLETE

In [8]:
predicts = model.predict(X_test)

In [9]:
print('Test AUC: ', round(sklearn.metrics.roc_auc_score(y_test, predicts),4))

Test AUC:  0.9098

In [10]:
model.best_model_name

'LightGBM'

In [11]:
model.best_model_param

{'random_seed': 42,
 'num_iterations': 300,
 'verbose': -1,
 'device_type': 'cpu',
 'objective': 'binary',
 'num_leaves': 22,
 'min_child_samples': 99}

In [17]:
# select Features 
# if feature_selection=True
model.select_columns[:10]

['age',
 'workclass',
 'education-num',
 'marital-status',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'HelmertEncoder_age_0',
 'HelmertEncoder_age_2',
 'HelmertEncoder_workclass_0']

## Save & Load

In [13]:
model.save('model_1')

01:02:38 | Save Model
01:02:38 | Save Model
01:02:38 | Save Model
01:02:38 | Save Model
01:02:38 | Save Model
01:02:38 | Save Model
01:02:38 | Save Model
01:02:38 | Save Model
01:02:39 | Save Model
01:02:39 | Save Model
Save model

In [14]:
model_new = BestSingleModelClassifier(random_state=RANDOM_SEED,)
model_new = model_new.load('model_1')

01:02:40 | metric is None! Default metric will be used. classifier: AUC, regression: MSE
01:02:41 | Load Model
Finished loading model, total used 300 iterations
01:02:41 | Load Model
Finished loading model, total used 300 iterations
01:02:41 | Load Model
Finished loading model, total used 300 iterations
01:02:41 | Load Model
Finished loading model, total used 300 iterations
01:02:41 | Load Model
Finished loading model, total used 300 iterations
01:02:41 | Load Model
Finished loading model, total used 300 iterations
01:02:41 | Load Model
Finished loading model, total used 300 iterations
01:02:41 | Load Model
Finished loading model, total used 300 iterations
01:02:41 | Load Model
Finished loading model, total used 300 iterations
01:02:41 | Load Model
Finished loading model, total used 300 iterations
Load CrossValidation
Load CrossValidation

In [15]:
predicts = model_new.predict(X_test)
print('Test AUC: ', round(sklearn.metrics.roc_auc_score(y_test, predicts),4))

Test AUC:  0.9098